
body {
    background-color: rgba(17,19,23);
    margin: 0; /* Reset default margins */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Align vertically to the center */
    justify-content: center; /* Align horizontally to the center */
    min-height: 100vh; /* Ensure full viewport height */
}

.main{
    font-family: cursive;
    font-size: 16px;
    text-align: justify;
    color: white;
}

table {
    margin: 0 auto; /* Automatic margins for left and right centering */
}
table, th{
    color: rgba(255, 255, 255, 0.733);
}
h1{
    font-size: 20px;
    text-align: center;
}
ul.a {
    list-style-type: circle;
  }
.other{
    color: rgba(255, 255, 255, 0.733);

}
.header__container::before {
    content: "FITNESS";
    position: absolute;
    bottom: 5rem;
    right: 20rem;
    font-size: 10rem;
    font-weight: 700;
    line-height: 7rem;
    color: var(--white);
    opacity: 0.05;
    z-index: -1;
  }
